<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      About me
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="column is-6">
      <div class="card">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">経歴：１８歳から、システムエンジニアに就職。</div>
              <div class="title is-5">東京や広島など、協力会社の現場に派遣社員として常駐し、</div>
              <div class="title is-5">様々な開発プロジェクトを１０年ほど経験する。</div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="column is-5">
      <div class="card">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">お客様との打ち合わせ、要求定義、</div>
              <div class="title is-5">詳細設計、開発、テスト、納品と</div>
              <div class="title is-5">プロジェクトに必要な知識を一通り学び、</div>
              <div class="title is-5">外注プログラマーも雇った、大きなプロジェクトの</div>
              <div class="title is-5">プロジェクトリーダーも経験する。</div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="column is-5">
      <div class="card">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">２８才の時、転勤の多いシステムエンジニアを辞め</div>
              <div class="title is-5">地元で異業種の仕事を始める。</div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="column is-5">
      <div class="card">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">しかし、コロナの影響で地元での仕事を辞める。</div>
              <div class="title is-5">遠方でも開発が可能なリモートワーク</div>
              <div class="title is-5">（在宅勤務）への転職も視野に入れて、</div>
              <div class="title is-5">再びシステムエンジニアとしての復帰を目指す。</div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-6">
      <div class="card">

        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">システムエンジニアを辞めてから、数年のブランクがあるため</div>
              <div class="title is-5">現在、新しい言語や開発環境を独学で勉強中。</div>
              <div class="title is-5">・Ruby……ポートフォリオを作成するために習得中。</div>
              <div class="title is-5">・GitHub(Git)……オンラインでのソース管理に便利。</div>
              <div class="title is-5">・Docker……自分のパソコンに仮想環境を構築し、</div>
              <div class="title is-5">　PHPやPostgreSQLなど、他の開発言語やDBを連携させた</div>
              <div class="title is-5">　開発環境の構築を勉強中。</div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-5">
      <div class="card">

        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">本サイト（ポートフォリオ）の公開ソースコード</div>
              <div class="title is-5">GitHub: <a href="https://github.com/kuronuko96GitH/RubyGames" target="_blank" rel="noopener">https://github.com/kuronuko96GitH/RubyGames</a></div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-5">
      <div class="card">

        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">◆本サイトの開発言語・環境など</div>
              <div class="title is-5">ruby (ver3.0.2)</div>
              <div class="title is-5">Rails (ver6.1.4、フレームワーク)</div>
              <div class="title is-5">JavaScript</div>
              <div class="title is-5">sqlite3 (ローカル環境データベース)</div>
              <div class="title is-5">PostgreSQL (本番環境データベース)</div>
              <div class="title is-5">GitHub (ソースコード管理)</div>
              <div class="title is-5">SourceTree (ソースコード管理)</div>
              <div class="title is-5">Visual Studio Code (ソースコードエディタ)</div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-5">
      <div class="card">

        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-5">◆インストールしたgem</div>
              <div class="title is-5">bulma-rails</div>
              <div class="title is-5">devise</div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
