<section class="hero is-black">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      過去に製作したPORTFOLIO
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="column is-6">
      <div class="card has-background-dark">

        <div class="card-content">
          <div class="media">
            <div class="media-content">

              <div class="columns is-centered">
                <div class="title is-6 has-text-white-bis">『PHP』で製作したポートフォリオ</div>
              </div>

              <br>

              <div class="columns is-centered">
                <div class="title is-6 has-text-white-bis">『Vue.js』で製作した、オセロゲームが遊べます。
                </div>
              </div>

              <div class="card-image">
                <figure class="image is-3by2">
                  <%= image_tag 'portfolio02.jpg' %>
                </figure>
              </div>
  
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="column is-5">
      <div class="card has-background-dark">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-6 has-text-white-bis">オセロゲーム(Vue.js)を遊びたい方は、</div>
              <div class="title is-6 has-text-white-bis">こちらから⇒<a href="https://kuronuko9646phptest.herokuapp.com" target="_blank" rel="noopener" class="title is-6 has-text-link">https://kuronuko9646phptest.herokuapp.com</a></div>

              <div class="title is-6 has-text-white-bis">GitHub（公開ソースコード）: <a href="https://github.com/kuronuko96GitH/testphp" target="_blank" rel="noopener" class="title is-6 has-text-link">https://github.com/kuronuko96GitH/testphp</a></div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</section>


<section class="section">
  <div class="container">

    <div class="column is-6">
      <div class="card has-background-dark">

          <div class="card-content">
            <div class="media">
              <div class="media-content">

                <div class="columns is-centered">
                  <div class="title is-6 has-text-white-bis">『Laravel』で製作したポートフォリオ</div>
                </div>

                <br>

                <div class="columns is-centered">
                  <div class="title is-6 has-text-white-bis">シンプルなデザインのWebアプリの『ノート』が使えます。
                  <br>メモを入力したり、タグ管理もできます。
                  </div>
                </div>

                <div class="has-background-dark">
                  <div class="card-image">
                    <figure class="image is-3by2">
                      <%= image_tag 'portfolio03.png' %>
                    </figure>
                  </div>
                </div>
    
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="column is-5">
    <div class="card has-background-dark">
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <div class="title is-6 has-text-white-bis">Webアプリの『ノート』を使ってみたい方は、</div>
              <div class="title is-6 has-text-white-bis">こちらから⇒<a href="https://kuronuko9646laravelnote.herokuapp.com" target="_blank" rel="noopener" class="title is-6 has-text-link">https://kuronuko9646laravelnote.herokuapp.com</a></div>

              <div class="title is-6 has-text-white-bis">GitHub（公開ソースコード）: <a href="https://github.com/kuronuko96GitH/LaravelNote" target="_blank" rel="noopener" class="title is-6 has-text-link">https://github.com/kuronuko96GitH/LaravelNote</a></div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</section>
