<section class="section">

  <article class="media">
    <div class="media-content">

      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">your welcome!</strong>
        </p>
      </div>

      <% if user_signed_in? %>

      <% else %>

        <br>
        <br>
        <div class="columns is-centered">
            <%= link_to "ゲームプレイ？", demo_path, class: "button is-primary" %>
        </div>

      <% end %>

      <br>
      <br>
      <div class="columns is-centered">
        <ul>
          <li><h1 class="title is-4">ランキング登録をする場合は、ログインをして下さい。</h1></li>
        </ul>
      </div>

      <br>
      <br>

      <div class="content has-text-centered">
        <div class="columns is-centered">
          <%= link_to "ログイン", new_user_session_path, class: "button is-success" %>
        </div>
      </div>

      <br>
      <br>

      <div class="columns is-centered">
        <ul>
          <div class="title is-5"></div>
          <div class="title is-5">オセロゲームやWebアプリのノートなどに興味がある方は、</div>
          <div class="title is-5">ぜひ、<%=link_to '他のポートフォリオ', link_path %>もどうぞ</div>
        </ul>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </article>

  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>

</section>
